
.timeline-container {
  min-width: 100%;
  height: calc(var(--circle-diameter) + 100px);
  display: flex;
  margin: auto;
  position: relative;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  height: 30px;
  margin-right: 100%;
  width: 0%;
  transition: margin-right 3s ease-out, width 3s ease-out;
  will-change: margin-right, width;
  background-color: orange;

}

.timeline.visible {
  opacity: 1;
}

.timeline.hidden {
  background-color: transparent;
}

.timeline.open {
  width: 100%;
  margin-right: 0;
}

.timeline.closed {
  width: 160px;
}

.circle {
  height: var(--circle-diameter);
  width: var(--circle-diameter);
  background-color: orange;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  transition: transform .2s ease-in-out, width .2s ease-in-out, height .2s ease-in-out;
  will-change: transform, width, height; 
}

.circle.selected {
}


.timeline.closed .circle:not(.selected) {
  height: 0px;
  width: 0px
}

.timeline.closed .circle:not(.selected) span {
  display: none
}


.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}


